<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sr.platform.server.orderManagement.dao.IWxSellingOtherPaymentDao">
<select id="getSellingOtherPayment" resultType="com.sr.platform.server.orderManagement.bean.WxSellingOtherPayment">
    SELECT
        otherPaymentId,
        otherPaymentName,
        totalMoney
    FROM
        wx_sellingotherpayment
    WHERE
        saleId=#{bookingId}
</select>


</mapper>